@model IEnumerable<MvcMovie.Models.Movie>

@{
  ViewBag.Title = "Notice Board";
}

<h2>Notice Board</h2>

<script src="@Url.Content("http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.js")" type="text/javascript"></script>
<script src="@Url.Content("http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.0/jquery-ui.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/add.jquery.controls.js")" type="text/javascript"></script>
<link href="@Url.Content("http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.0/themes/hot-sneaks/jquery-ui.css")" rel="stylesheet" type="text/css" />

<div class = "NoticeBoardColumn" id="NoticeBoardColumn1">
@foreach (var item in Model)
{
    <div class="Notice">
        
        <div class="NoticeHeader">
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        
        <div class="NoticeBody">
            Release Date: @Html.DisplayFor(modelItem => item.ReleaseDate) <br />
            Genre: @Html.DisplayFor(modelItem => item.Genre) <br />
            Price: @Html.DisplayFor(modelItem => item.Price) <br />
            Rating: @Html.DisplayFor(modelItem => item.Rating) <br />
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </div>
    </div>
}
</div>

<div class = "NoticeBoardColumn" id="NoticeBoardColumn2">
@foreach (var item in Model)
{
    <div class="Notice">
        
        <div class="NoticeHeader">
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        
        <div class="NoticeBody">
            Release Date: @Html.DisplayFor(modelItem => item.ReleaseDate) <br />
            Genre: @Html.DisplayFor(modelItem => item.Genre) <br />
            Price: @Html.DisplayFor(modelItem => item.Price) <br />
            Rating: @Html.DisplayFor(modelItem => item.Rating) <br />
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </div>
    </div>
}
</div>

<div class = "NoticeBoardColumn" id="NoticeBoardColumn3">
@foreach (var item in Model)
{
    <div class="Notice">
        
        <div class="NoticeHeader">
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        
        <div class="NoticeBody">
            Release Date: @Html.DisplayFor(modelItem => item.ReleaseDate) <br />
            Genre: @Html.DisplayFor(modelItem => item.Genre) <br />
            Price: @Html.DisplayFor(modelItem => item.Price) <br />
            Rating: @Html.DisplayFor(modelItem => item.Rating) <br />
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </div>
    </div>
}
</div>